@model QuestionsEditorIndexViewModel

@{
    ViewData["Title"] = "Questions editor";
}

<!--Add modals-->
<partial name="IndexPartials/_RequestResultModalPartial" />
<partial name="IndexPartials/_QuestionRemoveModalPartial" />


<div class="tableDiv table-responsive shadow m-5 bg-light rounded">
    <h3 class="text-center thead-light mt-3">Questions list</h3>

    <div class="row d-flex justify-content-between m-1 mb-3 mt-3 ">
@*        <button class="btn btn-success m-2 col-md-3 col-sm-12" data-mdb-toggle="modal" data-mdb-target="#addQuestionModal">Add question</button>
        *@        <a class="btn btn-success m-2 col-md-3 col-sm-12" href="@Url.Page("/QuestionsEditor/AddQuestion")?quizid=@Model.quizId">Add question</a>
        <button class="btn btn-info col-sm-12 m-2 col-md-3" onclick="updateData()">Reload</button>
    </div>
    <div class="text-center">
    <div class="spinner-border" role="status" id="loaderBar">
        <span class="visually-hidden">Loading...</span>
    </div>
    </div>

    <table id="QuizzesTable" class="table table-light table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Points</th>
                <th>Modify</th>
            </tr>
        </thead>
        <tbody id="table-body">
        </tbody>
    </table>

</div>

@section Scripts{
    <partial name="IndexPartials/_ScriptsPartial" model="Model.quizId" />
    }
