@model int
<script>
    $('document').ready(() => {
        updateData();
    });

    let questionId = -1;
    function pressed(newId) {
        questionId = newId;
    }

    function updateData() {
        cleanData();
        $("#loaderBar").show();
        
        var quizId = @Model;
        var request = "@Url.Action("GetQuizQuestions", "QuestionsApi")" + "?id=" + quizId;

        $.getJSON(request,
            function(json){
                var tr;
                for (var i = 0; i < json.length; i++) {
                    tr = $('<tr/>');
                    tr.append("<td>" + json[i].id + "</td>");
                    var imageLink = json[i].questionImage;
                    var output;
                    if(imageLink != ""){
                        output = '<td\>'
                                        + '<div class="d-flex align-items-center"\>'
                            + '<img src=' + json[i].questionImage + ' style="width: 45px; height: 45px" class="rounded" \/\>'
                                        + '<div class="ms-3"\>'
                                        + '<p class="fw-bold mb-1">' + json[i].question + '</p\>'
                                        + '</div\>'
                                        + '</div\>'
                                        + '</td\>';
                    }
                    else{
                        output = '<td\>'
                            + '<div class="d-flex align-items-center"\>'
                            + '<div class="ms-3"\>'
                            + '<p class="fw-bold mb-1">' + json[i].question + '</p\>'
                            + '</div\>'
                            + '</div\>'
                            + '</td\>';
                    }
                    tr.append(output);

                    tr.append("<td>" + json[i].questionPoints + "</td>");

                    output = '<td class="text-center"> <a role = "button" data-mdb-toggle="modal" data-mdb-target="#removeQuestionModel" onclick = "pressed(' + json[i].id + ')" >' +
                        ' <i class="fa-lg fa-solid fa-trash" ></i></a >' +
                        ' </td>';
                    tr.append(output);

                    $('#table-body').append(tr);
                }
                console.log(json);
            });
        $("#loaderBar").hide();

    }

    function cleanData(){
        $("tbody > tr").remove();
    }

    function loadQuestionAddFile(event) {
        var output = document.getElementById('questionAdd_previewImage');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function () {
            URL.revokeObjectURL(output.src)
        }
    }
    
    function deleteQuestion(){
        $.ajax({
            type: "POST",
            url: "@Url.Action("DeleteQuestion", "QuestionsApi")",
            data: {
                id: questionId,
            },
            success: function (result) {
                $('#removeQuestionModel').modal('hide');
                showSuccessModal(result);
                setTimeout(updateData(), 200);
            },
            error: function (result) {
                $('#removeQuestionModel').modal('hide');
                console.log(result);
                showErrorModal(result.responseText);
            }
        });
    }

    function showErrorModal(text) {
        $('#errorModalText > div').remove();
        $('#errorModalText').append('<div>' + text + '</div>');
        $('#errorModal').modal('show');
    }

    function showSuccessModal(text) {
        $('#successModalText > div').remove();
        $('#successModalText').append('<div>' + text + '</div>');
        $('#successModal').modal('show');
    }
    
</script>