@model QuizResultViewModel

@{
    ViewData["Title"] = "Quiz results";
}
<h2 class="text-danger m-5">This page is in development</h2>
<h2 class="text-success m-5">
    Your results: @Model.Points
</h2>