@model string

<div class="card text-center" style="width: 18rem;">
    <div class="card-body text-center">
       <img class="card-img-top" src="~/img/default/error_sign.png" alt="Error sign">
       <h5 class="card-title text-danger">Error!</h5>
        <p class="card-text">@Model</p>
    </div>
</div>